.card {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-rows: 16px auto auto auto 16px auto;
  grid-template-areas:
    ". . ."
    ". title ."
    ". subtitle ."
    ". detail ."
    "divider divider divider"
    ". action .";
  text-align: left;
  width: 204px;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.card__title {
  grid-area: title;
  display: block;
  white-space: nowrap;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__subtitle {
  grid-area: subtitle;
  display: block;
  color: rgba(0, 0, 0, 0.62);
  font-size: 14px;
  padding-bottom: 12px;
}
.card__detail {
  grid-area: detail;
  display: block;
  white-space: normal;
}

.card__divider {
  grid-area: divider;
  border-bottom: 1px #f2f2f2 solid;
}

.card__price {
  color: #3c4043;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 8px;
}

.card__percent {
  color: green;
}

.card__action {
  grid-area: action;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.card__action__icon {
  display: inline-block;
  fill: currentColor;
  font-size: 16px;
  color: darkblue;
  cursor: pointer;
}

.card__action__icon > * {
  font-style: normal;
}

.card__action__label {
  color: #1a0dab;
  padding-left: 16px;
  font-size: 16px;
  cursor: pointer;
}
