.card {
  display: flex;
  text-align: left;
  line-height: 20px;
  width: 204px;
  flex-direction: column;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.card__top {
  padding: 16px 16px 24px;
  flex-grow: 1;
}

.card__title {
  display: block;
  white-space: nowrap;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__subtitle {
  display: block;
  color: rgba(0, 0, 0, 0.62);
  font-size: 14px;
  padding-bottom: 12px;
}
.card__detail {
  display: block;
  white-space: normal;
}

.card__price {
  color: #3c4043;
  font-size: 14px;
  white-space: nowrap;
  padding-bottom: 8px;
}

.card__percent {
  color: green;
}

.card__action {
  display: block;
  height: 40px;
  padding: 0px 16px;
  border-top: 1px solid #f2f2f2;
}

.card__action__icon {
  display: inline-block;
  fill: currentColor;
  position: relative;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  color: darkblue;
  padding: 11px 11px 11px 0px;
  cursor: pointer;
}

.card__action__icon > * {
  font-style: normal;
}

.card__action__label {
  color: #1a0dab;
  position: absolute;
  font-size: 12px;
  line-height: 40px;
  cursor: pointer;
}
